.row {
    display: flex;
    flex: 1;
}

.col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.col-static{
    display: flex;
    flex-direction: column;
}


.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}